<!DOCTYPE html>
<html>
<head>
  <title>CMPT 354 - Project</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
  <script src = "https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js" integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13" crossorigin="anonymous"></script>
  <link rel = "stylesheet" type = "text/css" href = "/stylesheets/main.css">
</head>
<body>
  <div class="topnav">
    <span class = "main-title"> CMPT 354 - Group 29 Project</span>
    <a href= "/statistics">Statistics</a>
    <a href="/guardianInfo">Guardian Info</a>
    <a href="/filterPlayers">Filter Players</a>
    <a href="/searchPlayers">Search Players</a>
    <a class="active" href="/">Add Player</a>
  </div>
<div class = "player-wrapper">
<div class="add-player-container">
  <form action = "/addplayerdata" method = "post"> 
    <fieldset>
        <legend class = "add-player-legend">Add a New Player</legend>
        <div class = "form-contents">
          <input type = "text" class = "add-player-form"
                  placeholder = "Name" id = "name" name = "s_name" pattern="^[a-zA-Z ]*$">
          <br>
          <input type = "email" class = "add-player-form"
                  placeholder = "Email" id = "email" name = "s_email">
          <br>
          <input type = "text" class = "add-player-form"
                  placeholder = "Gender (male, female, non-binary)" id = "gender" name = "s_gender" onchange = "checkInput(this.id)" >
          <br>
          <input type = "tel" class = "add-player-form"
                  placeholder = "Phone (123-456-7890)" id = "phone" name = "s_phone" pattern = "[0-9]{3}-[0-9]{3}-[0-9]{4}" >
          <br>
          <div for = "birthday" class = "birthday-wrapper">
            <label class ="birthday-label" for="haircolor">Select Date of Birth: </label>
            <input type = "date" class = "add-player-form birthday-input"
                    id = "birthday" name = "s_birthday" onchange = "changeColor(this.id)">
          </div>
          <input type = "submit" class = "add-player-button"
                  value = "Add" name = "add_submit">
          <br>
        </div>
    </fieldset>
</form>
</div>
<script type = "text/javascript" src="./myscript.js"></script>
</body>
</html>
